---
import { FormLogin } from "../../sections/FormLogin";
import LoginLayout from "../../layouts/LoginLayout.astro";
import {Input} from "../../components/forms/Input.jsx";
---

<LoginLayout titulo="BIENVENIDO">

  <Input texto="Numero de documento"
    placeholder="Ingresa tu documento"
    slot="inputs"
    name={"documento"}
    tipo={"text"}
    onChange={""} 
    value={""}
  />
  <Input texto="Contraseña"
    placeholder="Ingresa tu contraseña"
    slot="inputs"
    name={"contraseña"}
    tipo={"text"}
    onChange={""} 
    value={""}
  />
  

  <div class="flex justify-between" slot="footer">
    
    <div>
      <input type="checkbox" name="" id="recordar" class="rounded-full"/>
      <label for="recordar" class="text-paragraph2 font-cocogooseLight">Recordarme</label
      >
    </div>
    <a class="text-paragraph2 font-cocogooseLight text-darkBlue">¿Olvidaste tu contraseña?</a>

  </div>

  <img
    src="../../../public/img/imgLogin.png"
    alt=""
    class="object-contain w-full h-full"
    slot="imagen"
  />
</LoginLayout>
