---
import Boton from "../../components/Boton.astro";
import Input from "../../components/forms/Input.astro";
import ForgotLayout from "../../layouts/ForgotLayout.astro";

---

<ForgotLayout title="¿Olvidó su contraseña?" titulo="Recuperar contraseña">
  
  <Input
  texto="Numero de documento"
  placeholder="Ingresa tu documento"
  icon=""
  slot="inputs"
/>

    

  <Boton text="Continuar" type="blue" slot="boton"/>

  <img
    src="../../../public/img/Forgotimg.png"
    alt=""
    class="object-contain w-full h-full"
    slot="imagen"
  />

    <a href=""slot="return" class="text-paragraph2 font-cocogooseLight text-darkBlue underline-offset-2">Volver al inicio de sesión</a>
</FoLayout>