---
import Info from "../../components/profile/Info.astro";
import Layout from "../../layouts/Layout.astro";
import LayoutGeneral from "../../layouts/LayoutGeneral.astro";



---

    <LayoutGeneral  >
        <article class="px-7 py-4 sm:flex sm:flex-col w-[90%] sm:px-24 sm:py-16 bg-white rounded-xl">
        <div class="sm:justify-items-center sm:flex sm:flex-row border-b-2 border-b-placeholderBlue py-7 gap-7 ">

            <img src="../../public/img/perfil.png" alt="" slot="imagen" class="h-[158px]">

                <div class="flex flex-col w-full">
                    <Info
                        title="Nombre completo"
                        text="Sebastian Rodriguez"
                        slot="datos"/>

                    <Info
                        title="Correo"
                        text="yo@gmail.com"
                        slot="datos"/>
                </div>
        </div>


        <Info
        title="Fecha de nacimiento"
        text="22-02-2005"
        slot="datos2"/>

        <Info
        title="Edad"
        text="19"
        slot="datos2"/>
        <Info
        title="Tipo de documento"
        text="Cedula de ciudadania"
        slot="datos2"/>
        
        <Info
        title="NO. de documento"
        text="1234556"
        slot="datos2"/>

        <Info
        title="Dirección"
        text="CRa xxb #xx-xx"
        slot="datos2"/>

        <Info
        title="Comuna"
        text="Zona Franca"
        slot="datos2"/>

        <Info
        title="Teléfono"
        text="310252500"
        slot="datos2"/>
        
        <Info
        title="Nombre del responsable"
        text="Brian Marin"
        slot="datos2"/>
        
        <Info
        title="Correo del responsable"
        text="correo@gmail.com"
        slot="datos2"/>
        
        <Info
        title="Talla de camisa"
        text="XL"
        slot="datos2"/>
        
        <Info
        title="Diagnostico"
        text="Deficit de atencion"
        slot="datos2"/>
        
        <Info
        title="Medicamentos"
        text="Lorem ipsum dolor sit amet consectetur adipiscing elit urna eu, placerat  id vitae class orci quam netus maecenas."
        slot="datos2"/>
        
        <Info
        title="Restricciones alimenticias"
        text="Lorem ipsum dolor sit amet consectetur adipiscing elit urna eu, placerat  id vitae class orci quam netus maecenas."
        slot="datos2"/>
        
        <Info
        title="Observaciones"
        text="Lorem ipsum dolor sit amet consectetur adipiscing elit urna eu, placerat  id vitae class orci quam netus maecenas.Lorem ipsum dolor sit amet consectetur adipiscing elit urna eu, placerat  id vitae class orci quam netus maecenas.Lorem ipsum dolor sit amet consectetur adipiscing elit urna eu, placerat  id vitae class orci quam netus maecenas."
        slot="datos2"/>
    </article>
    </LayoutGeneral>
