---
import Layout from "../../layouts/Layout.astro";
import LayoutGeneral from "../../layouts/LayoutGeneral.astro";
---

<LayoutGeneral>
    <h1>Información personal</h1>
    <div class="px-7 py-4 sm:flex sm:flex-col w-full sm:px-24 sm:py-16 bg-white rounded-xl">

    </div>
</LayoutGeneral>
