---


---
<dialog class="px-7 py-4 sm:flex sm:flex-col sm:px-24 sm:py-16 bg-darkBlue rounded-xl ">
  <div class="flex flex-col justify-between gap-8">
    <slot name="titulo"/>
    <slot name="inputs"/>
    <slot name="boton"/>
  </div>
</dialog>

