---
interface Props {
  icon: string;
  texto: string;
}

const { icon, texto } = Astro.props;
---

<div class="w-full flex items-center gap-x-2 rounded-3xl text-gray hover:bg-darkBlue hover:text-white ease-in duration-100">
  <div class="w-[60px] h-[44px]  flex justify-center items-center">
    <i class={`text-xl ${icon}`}></i>
  </div>
  <span class="element-text hidden whitespace-nowrap">{texto}</span>
</div>
 
