---
interface Props{
    icon : string;
}

const {icon} = Astro.props;
---

<div class="w-[60px] h-[44px]  text-gray hover:bg-darkBlue hover:text-white ease-in duration-100 flex justify-center items-center rounded-3xl">
    <i class=`text-xl ${icon}`></i>
</div>
 
