---
interface Props {
  icon: string;
  texto: string;
}

const { icon, texto } = Astro.props;
---
<div class="w-full flex items-center rounded-3xl text-gray hover:bg-darkBlue hover:text-white cursor-pointer sidebar-element">
  <div class="w-[60px] h-[44px] flex justify-center items-center">
    <i class={`text-xl ${icon}`}></i>
  </div>
  <span class="font-cocogooseLight text-paragraph2 hidden">{texto}</span>
</div>