---
import type { string } from "astro/zod";
import Elemento from "./Elemento.astro";

interface Props {
  img?: string,
  nombre?: string,
  profesion?: string;
}

const { img, nombre, profesion } = Astro.props;
---

<div class="hidden sm:flex sidebar h-screen w-[100px] bg-white flex-col items-center flex-shrink-0 sticky top-0">
    <div class="bg-darkBlue h-[100px] w-full flex items-center mb-6 relative justify-center">
      <div class="w-[60px] h-[60px] rounded-full bg-white">
        <img src="../../../public/img/perfil.png" alt="Easter egg" class="w-full h-full object-cover rounded-full">
      </div>
      <div class="w-[24px] h-[24px] rounded-full bg-white text-sm flex justify-center items-center absolute right-[-12px] cursor-pointer">
        <i class="fa-solid fa-angle-right"></i>
      </div>
    </div>
    <div class="flex flex-col items-center gap-y-4 w-full px-4">
      <Elemento icon="fa-solid fa-user" texto="Perfil" />
      <Elemento icon="fa-solid fa-users" texto="Estudiantes" />
      <Elemento icon="fa-solid fa-trophy" texto="Logros" />
      <Elemento icon="fa-solid fa-lock" texto="Cambiar contraseña" />
      <Elemento icon="fa-solid fa-user-plus" texto="Crear estudiante" />
      <div class="w-full border-darkBlue border-[1px]"></div>
      <Elemento icon="fa-solid fa-arrow-right-from-bracket" texto="Salir" />
    </div>
  </div>
  
  