---
interface Props {
    value?: string,
    text?: string;
}

const {value, text} = Astro.props;

const values = [
    {"option":"Opcion 1"},
    {"option":"Opcion 2"},
    {"option":"Opcion 3"}
]
---

<div class="max-w-[400px] flex gap-2">
    <form action="#" class="flex flex-col w-full">
        <label for="" class="text-paragraph font-cocogooseLight text-black">{text}</label>
        <select name="#">
            {values.map((valueskey)=>(
                <option value={valueskey.option}>{valueskey.option}</option>
            )
            )}
        </select>
    </form>
</div>