---
interface Props {
    texto : string,
    placeholder: string,
    icon? : string,
    name: string;
}

const { texto, placeholder, name, icon} = Astro.props;
//console.log("Hola")

---

<div class="max-w-[400px] flex flex-col gap-2 text-xd w-full">
    <label for="input" class="text-paragraph font-cocogooseLight text-black">{texto}</label>
    <div class="relative w-full flex">
        <input required type="text" id="input" name={name} placeholder={placeholder} class="h-10 rounded-xl w-full px-5 pb-[5px] text-paragraph3 border-darkBlue font-cocogooseLight border-[1.5px]">
        <img src="../../../public/img/icons.svg" alt=""/>
    </div>

</div>