---
interface Props {
  icon?: string;
  texto?: string;
}

const { icon, texto } = Astro.props;
---

<div class="bg-white text-darkBlue gap-y-3 p-4 h-[150px] min-w-[160px] max-w-[220px] 2xl:max-w-[320px] w-full rounded-xl flex flex-col justify-center items-center ">
    <i class=`text-5xl ${icon}`></i>
    <p class="font-cocogooseLight text-paragraph">{texto}</p>
</div>

