---
interface Props {
    titulo?: string;
    tituloDato?: string,  
    dato?: string  
}

const {titulo, tituloDato, dato} = Astro.props;
---

<div class="w-full bg-white p-6 text-darkBlue rounded-xl flex flex-col">
    <div class="flex justify-between">
        <p class="font-cocogooseSemiLight text-subTitle">{titulo}</p>
        <p class="font-cocogooseSemiLight text-subTitle2 underline">Editar</p>
    </div>
    
    <div class="flex gap-x-3 max-w-[500px]">
        <p class="font-cocogooseLight text-paragraph text-darkBlue">{tituloDato}:</p>
        <p class="font-cocogooseLight text-paragraph">{dato}</p>
    </div>
</div>