---
import {DatoElemento} from "./DatoElemento.jsx"
---

<div class="flex flex-wrap gap-y-3 justify-between   ">
    <DatoElemento icon={"fa-solid fa-phone"} texto={"Telefono(s)"}/>
    <DatoElemento icon={"fa-solid fa-user-group"} texto={"Responsable(s)"}/>
    <DatoElemento icon={"fa-solid fa-hospital"} texto={"Condicion medica"}/>
    <DatoElemento icon={"fa-solid fa-address-card"} texto={"Historia clinica"}/>
    <DatoElemento icon={"fa-solid fa-user"} texto={"Informes"}/>
  </div>