---
import Boton from "../../components/Boton.astro";
import CalificarEstudiante from "../../components/qualify/CalificarEstudiante.astro";
import HeaderData from "../../components/tables/headerData/HeaderData";
import LayoutGeneral from "../../layouts/LayoutGeneral.astro";
import TableCalificarEstudiante from "../../components/tables/tableCalificarEstudiante"

---

<LayoutGeneral title="Calificar">
  <main class="flex flex-col w-full gap-y-8"> 
    <HeaderData client:visible />
    <TableCalificarEstudiante/>

    <div class="w full flex justify-end gap-x-3">
      <Boton text="Guardar" type="white"/>
      <Boton text="Enviar" type="blue" />
    </div>

  </main>

</LayoutGeneral>
