---
import CalificarEstudiante from "../../components/qualify/CalificarEstudiante.astro";
import LayoutGeneral from "../../layouts/LayoutGeneral.astro";

---

<LayoutGeneral>
  <div class= "px-7 py-4 sm:flex sm:flex-col w-full sm:px-24 sm:py-16 bg-white rounded-xl ">
    <CalificarEstudiante 
    date="01-23"
    number="01"
    text="Posee normas que le ayudan a comunicarse">
    </CalificarEstudiante>
  </div>
</LayoutGeneral>