---
import ListaLogros from "../../components/qualify/ListaLogros.astro";
import Buscador from "../../components/search/Buscador";
import TableListaLogros from "../../components/tables/tableListaLogros";
import LayoutGeneral from "../../layouts/LayoutGeneral.astro";
---

<LayoutGeneral title="Logros">
  <main class="flex flex-col w-full gap-y-8">
    <TableListaLogros />
  </main>
</LayoutGeneral>
