---
import LayoutGeneral from "../../layouts/LayoutGeneral.astro";
import HeaderData from "../../components/tables/headerData/HeaderData";
import TableListStudents from "../../components/tables/TableListStudents";
---

<LayoutGeneral title="Estudiantes">
  <main class="flex flex-col gap-8">
    <HeaderData client:visible />
    <p class="text-subTitle font-cocogooseSemiLight text-darkBlue">LISTA DE ESTUDIANTES</p>
    <TableListStudents/>
  </main>
</LayoutGeneral>