---
import Sidebar from '../components/sidebar/Sidebar.astro';
import Layout from './Layout.astro';

---


<Layout title="Perfil">
    <Sidebar />
        <div class="flex px-10 py-5 w-full">
            <slot />
        </div>
</Layout>
