---
import Sidebar from "../components/sidebar/Sidebar.astro";
import Layout from "./Layout.astro";
import Header from "../components/header/header.astro";

interface props {
  title: string,
  titleHeader: string;
}
const { title, titleHeader } = Astro.props;
---

<Layout title={title}>
  <Sidebar nombre={"Brian David Marin"} profesion={"Administrador"}/>
  
  <div class="min-w-screen">
    <Header titulo={titleHeader}/>
    <div class="px-10 py-5 w-full">
        <slot />
    </div>
  </div>
</Layout>