---

---

<main class=" h-max ">
    <article class="flex flex-col ">
     
        <h1>Información personal</h1>

        <div class="flex flex-row">
            <slot name="imagen">
            <slot name="datos">
        </div>

        <slot name="datos2">
    </article>
</main>