---
import Layout from '../layouts/Layout.astro';
import Login from './general/Login.astro';

const isLogin = true

---

<Layout title="Boteritos">
    <>
        {
            isLogin ? 
            <Login /> :
            <p>Hola</p>
        }
    </>
</Layout>