---
import Layout from '../layouts/Layout.astro';
import Login from './general/Login.astro';

let i = 0;

const funcionPrueba = ()=>{
    console.log(i);
    i += i;
}

---

<Layout title="Boteritos">
    <main class="p-12">
        <button onclick=`${funcionPrueba}`>CLICK</button>
        <p>i</p>
    </main>
</Layout>
