---
import LayoutGeneral from "../layouts/LayoutGeneral.astro";
import BotonPrueba from "../components/BotonPrueba.jsx";

---
<LayoutGeneral>
    <p>Hola MUNDOOOOOOOOOOOOOOOOOOO</p>
    <BotonPrueba  />
</LayoutGeneral>
