---
interface Props{
    title: string;
    text: string;
}

const { title, text } = Astro.props;

---

<div class="flex flex-col w-[867px] bg-darkBlue">
    <p class="subTitle2 color-darkBlue">
        { title }
    </p>
    <p>
        { text } 
    </p>
</div>