---

import Layout from "../../layouts/Layout.astro";
import LayoutGeneral from "../../layouts/LayoutGeneral.astro";

---

<LayoutGeneral title="Home">
    <h1>HOLAAAAAAAAAAAAAAAAAAA INICIOOOOOOOOO DE ADMIN</h1>
</LayoutGeneral>