---
import Layout from "../../layouts/Layout.astro";
import TableStudents from "../../components/tables/TableStudents.jsx";
---

<Layout title="Estudiantes">
    <h1>Aqui va la lista de estudiantes</h1>
    <TableStudents texto="Hola" />
</Layout>
