---
import HeaderData from "../../components/tables/headerData/HeaderData";
import TableStudents from "../../components/tables/tableStudents";
import LayoutGeneral from "../../layouts/LayoutGeneral.astro";
---

<LayoutGeneral title="Estudiantes">
    <main class="flex flex-col gap-8">
        <HeaderData />
        <p class="text-subTitle font-cocogooseSemiLight text-darkBlue">LISTA DE ESTUDIANTES</p>
        <TableStudents/>
    </main>
</LayoutGeneral>
