---
import LayoutGeneral from "../../layouts/LayoutGeneral.astro";
import HeaderData from "../../components/tables/headerData/HeaderData";
import Notificacion from "../../components/notificaciones/Notificacion.astro";
import Buscador from "../../components/search/Buscador;

const datosnoti = [
    {img:"../../../public/img/perfil.png", nombre:"Brian David Marin", area:"Socio - Afectiva", hora:"2"},
    {img:"../../../public/img/perfil.png", nombre:"Brian David Marin", area:"Actividades de la vida diaria", hora:"5"},
    {img:"../../../public/img/perfil.png", nombre:"Brian David Marin", area:"Teatro", hora:"7"},
    {img:"../../../public/img/perfil.png", nombre:"Brian David Marin", area:"Danza", hora:"8"},
    {img:"../../../public/img/perfil.png", nombre:"Brian David Marin", area:"Musica", hora:"4"},
    {img:"../../../public/img/perfil.png", nombre:"Brian David Marin", area:"Pintura", hora:"1"}
]
---

<LayoutGeneral title = "Notificaciones" titleHeader = "Notificaciones">
     
    <div class="flex flex-col w-full bg-white sm:p-10 p-2 rounded-xl gap-y-3">
      
      <div class="divide-y divide-ligthBlue">
        {datosnoti.map((datonoti) => (
            <Notificacion img={datonoti.img} nombre={datonoti.nombre} area={datonoti.area} hora={datonoti.hora} />
        )
    
    )}
      </div>
        
    </div>
        
</LayoutGeneral>