---
import LayoutGeneral from "../../layouts/LayoutGeneral.astro";
import HeaderData from "../../components/tables/headerData/HeaderData";
---

<LayoutGeneral title = "Notificaciones" titleHeader = "Notificaciones">
    <HeaderData/>
    <div class="bg-white w-full rounded-xl">
        <p>HOLAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
    </div>


</LayoutGeneral>