---
import { Dropdown } from "../../components/forms/Dropdown";
import Input from "../../components/forms/Input.astro";
import LayoutGeneral from "../../layouts/LayoutGeneral.astro";
import Boton from "../../components/Boton.astro";
import UploadFile from "../../components/forms/UploadFile.astro";
---

<LayoutGeneral titleHeader="Registro de usuarios">
    <div class="flex w-full h-full items-center justify-center">
        <div class="flex flex-col max-w-[910px] bg-white  w-full p-10 rounded-xl gap-y-10">
            <div class="flex max-w-[830px] w-full gap-x-[30px]">
                <div class="flex flex-col w-full gap-y-8">
                    <Dropdown name={"¿Que deseas crear?"} client:visible/>
                    <Input texto={"Nombre"} placeholder={"Nombre del usuario"}/>
                    <Dropdown name={"Tipo de documento"}/>
                    <Input texto={"Dirección"} placeholder={"Dirección del usuario"}/>
                    <Input texto={"Correo"} placeholder={"Correo electronico del usuario"}/>
                    <Input texto={"Nombre"} placeholder={"Instituto del usuario"}/>
                </div>
                <div class="flex flex-col w-full gap-y-8">
                    <Dropdown name={"Tipo de matricula"}/>
                    <Input texto={"Apellidos"} placeholder={"Apellido del usuario"}/>
                    <Input texto={"Numero de documento"} placeholder={"Documento del usuario"}/>
                    <Input texto={"Comuna"} placeholder={"Comuna del usuario"}/>
                    <Dropdown name={"Sexo"}/>
                    <UploadFile title={"Foto"}>
                </div>
            </div>
            <div class="w-full flex justify-center">
                <Boton text="Confirmar" type="blue"/>
            </div>
        </div>
    </div>
    



</LayoutGeneral>

