---
interface Props{
  number:string;
  date:string;
  text:string;
}

const {number, date,text} = Astro.props;
---
{/*ESTÁ VISTA PUEDE SER PROBABLEMENTE BORRADA*/}

  
  <div class="flex p-5 gap-7  border-b-2 border-b-placeholderBlue justify-between">
    <div class="font-paragraph2 font-cocogooseLight text-black  w-12 max-w-12 flex-auto"><p>{number}</p></div>

    <div class="font-paragraph2 font-cocogooseLight text-black  w-full max-w-md flex-auto"><p>{text}</p></div>

    <div class="font-paragraph2 font-cocogooseLight text-black  w-full max-w-40 flex-auto underline"><p>{date}</p></div>

      <div class="flex justify-around w-full max-w-[250px] flex-auto">

        <div class=" w-full max-w-5 flex justify-center items-center"><input type="checkbox" class="w-4 h-4 "></div> 

        <div class=" w-full max-w-5 flex justify-center items-center"><input type="checkbox" class="w-4 h-4"></div> 

        <div class=" w-full max-w-5 flex justify-center items-center"> <input type="checkbox" class="w-4 h-4"></div> 

      </div>

  </div>

