---
interface Props{
  number:string;
  date:string;
  text:string;
}

const {number, date,text} = Astro.props;
---

<div class="border-2 border-sky-500">
  <div >Aquí va el buscador</div>

  <header class="flex p-5 gap-7 border-b-2 border-b-placeholderBlue">
    <div class="font-paragraph font-cocogooseLight text-darkBlue bg-red-400 w-12 max-w-12 flex-auto"><p>NO°</p></div>

    <div class="font-paragraph font-cocogooseLight text-darkBlue bg-red-800 w-full max-w-md flex-auto"><p>Nombre del logro</p></div>

    <div class="font-paragraph font-cocogooseLight text-darkBlue bg-red-400 w-full max-w-40 flex-auto"> <p>componente de fecha</p></div>

    <div class="flex justify-around bg-red-300 w-full max-w-[250px] flex-auto">
      <div class="font-paragraph font-cocogooseLight text-darkBlue bg-amber-300 w-full max-w-5"><p>LA</p></div>

      <div class="font-paragraph font-cocogooseLight text-darkBlue bg-amber-400 w-full max-w-5"><p>LP</p></div>

      <div class="font-paragraph font-cocogooseLight text-darkBlue bg-amber-500 w-full max-w-5"><p>LN</p></div>
    </div>
  </header>
 
  
  <div class="flex p-5 gap-7  border-b-2 border-b-placeholderBlue">
    <div class="font-paragraph2 font-cocogooseLight text-black bg-red-400 w-12 max-w-12 flex-auto"><p>{number}</p></div>

    <div class="font-paragraph2 font-cocogooseLight text-black bg-amber-500 w-full max-w-md flex-auto"><p>{text}</p></div>

    <div class="font-paragraph2 font-cocogooseLight text-black bg-amber-300 w-full max-w-40 flex-auto"><p>{date}</p></div>

      <div class="flex justify-around bg-red-400 w-full max-w-[250px] flex-auto">

        <div class="bg-amber-300 w-full max-w-5 flex justify-center items-center"><input type="checkbox"></div> 

        <div class="bg-amber-400 w-full max-w-5 flex justify-center items-center"><input type="checkbox"></div> 

        <div class="bg-amber-500 w-full max-w-5 flex justify-center items-center"><input type="checkbox"></div> 

      </div>

  </div>

</div>