---
interface props{
  title?:string;
}

const {title} = Astro.props
---

<div class="flex justify-between font-subTitle text-darkBlue font-cocogooseSemiLight border-b-2 border-b-placeholderBlue pb-5">
  <h2>Observaciones</h2>
  <p>{title}</p>
</div>